@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --alacrity-red: #c6031a;
  --alacrity-blue: #222831;
  --alacrity-light-grey: #f1f1f1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.Hero {
  background-image: url("../../public/images/hero.jpg");
}
