@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --alacrity-red: #c6031a;
  --alacrity-blue: #222831;
  --alacrity-light-grey: #f1f1f1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222222;
    --foreground: #ededed;
    --alacrity-light-grey: #333333;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
h1 {
  @apply font-bold text-4xl;
}
h2 {
  @apply font-bold text-3xl mb-6;
}
h3 {
  @apply font-semibold text-xl mb-4;
}

.Content--outer {
  @apply w-full py-14;
}
.Content--inner {
  @apply px-8 sm:px-20 max-w-screen-lg mx-auto;
}

.Hero {
  @apply bg-cover bg-no-repeat bg-top space-y-8;
  background-image: url("../../public/images/hero.jpg");
}

.Intro {
  background-color: var(--alacrity-light-grey);
}

.WhyWork__item {
  @apply text-center;
}

.WhyWork__item img {
  @apply mb-6;
}
.WhyWork__item p {
  @apply text-sm;
}

.PurposeMission {
  @apply text-white md:py-10;
  background-color: var(--alacrity-blue);
}
.PurposeMission__item {
  @apply py-12 md:grid grid-cols-12 md:divide-x-2 md:py-0 items-center;
}
.PurposeMission__item h2 {
  @apply md:text-right col-span-4 md:m-0 md:pr-16;
}
.PurposeMission__item p {
  @apply md:text-left col-span-8 md:py-6 md:pl-16;
}

.Values {
  @apply text-center;
  .Content--inner {
    @apply grid md:grid-cols-2 gap-14;
  }
}
.Values__itemList {
  @apply grid grid-cols-1 gap-12 w-10/12 mx-auto lg:mr-0;
}
.Values__item {
  @apply grid grid-cols-4 md:grid-cols-1 gap-6 md:gap-0 lg:gap-6 lg:grid-cols-4 text-left;
}
.Values__item img {
  @apply mx-auto mb-4;
}
.Values__item h3 {
  color: var(--alacrity-red);
  @apply text-lg dark:text-white col-span-1 font-bold;
}
.Values__item p {
  @apply text-sm col-span-3;
}
.Values__item-photo {
  @apply md:col-start-1 md:row-start-2 aspect-square bg-cover;
  background-image: url("../../public/images/boots-square.jpg");
}
.Values__photo {
  @apply relative overflow-hidden;
  img {
    @apply w-full h-full object-cover;
  }
}

.Difference {
  @apply bg-cover bg-no-repeat bg-center text-white text-center;
  background-image: url("../../public/images/salute.jpg");
}

.Contact {
  @apply bg-cover bg-center bg-no-repeat text-center;
  background-image: url("../../public/images/woman-soldier-smiling.jpg");
}

.ContactForm {
  @apply mx-0 md:mx-12 border-2 bg-white p-8 md:p-12 shadow-md;
}
.ContactForm--inner {
  @apply grid md:grid-cols-12 gap-8 mb-8;
}
.ContactForm fieldset {
  @apply border-b-2;
}
.ContactForm label {
  @apply hidden;
}
.ContactForm textarea,
.ContactForm input {
  @apply w-full py-2 text-gray-800;
}
.ContactForm input {
  @apply border-none border-b-2 border-gray-500;
}
.ContactForm .error {
  @apply text-left text-xs italic;
  color: var(--alacrity-red);
}

.Footer {
  @apply grid grid-cols-1 gap-y-16 py-8 justify-between;
  background-color: var(--alacrity-light-grey);
  ul {
    @apply flex flex-row justify-end;
  }
}
.Footer__top,
.Footer__bottom {
  @apply grid;
}
.Footer__top {
  @apply grid-cols-2;
}
.Footer__bottom {
  @apply grid-cols-1 md:grid-cols-2 gap-y-4 text-sm text-gray-400;
}
.Footer__social a {
  @apply bg-black block rounded-full text-gray-500 w-8 h-8 text-center transition-all leading-8;
  &:hover {
    @apply bg-gray-600;
  }
}
.Footer__nav a {
  @apply transition-all;
  &:hover {
    @apply text-gray-600;
  }
}
.Button {
  @apply px-6 py-2 rounded inline-block uppercase transition-all font-semibold align-middle bg-white border-2 text-gray-800;
  &:hover {
    @apply brightness-90;
  }
}
.Button--primary {
  @apply text-white;
  background-color: var(--alacrity-red);
}
.Button--secondary {
  @apply bg-white text-gray-800;
}
.Button--tertiary {
  @apply text-white border-white border-2 bg-transparent;
  &:hover {
    @apply bg-black bg-opacity-20;
  }
}
